body {
    margin: 0;
    padding: 0;
    background-image: url('./assets/images/fondo5.JPG');
    background-size: cover; /* Esto hace que la imagen cubra toda la pantalla */
    background-position: top; /* Esto centra la imagen */
    background-repeat: no-repeat; /* Esto evita que la imagen se repita */
}